<!DOCTYPE html>
<html>
    <head>
        <title>Casino</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/slot.css">
        <link rel="stylesheet" href="/stylesheets/blackjack.css">
        <link rel="stylesheet" href="/stylesheets/responsiveDesign.css">
        <link rel="icon" href="/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div id="header">
        <div class="linkHome">
            <a href="/">
                Casino Lobby
            </a>
        </div>
    </div>
        {{{body}}}
    </body>
</html>
