<!DOCTYPE html>
<html>
    <head>
        <title>Casino</title>
        <link rel="stylesheet" href="http://localhost:8000/stylesheets/style.css">
        <link rel="stylesheet" href="http://localhost:8000/stylesheets/slot.css">
        <link rel="stylesheet" href="http://localhost:8000/stylesheets/firstPage.css">
        <link rel="icon" href="/images/favicon.png">
    </head>
    <body>
        {{{body}}}
    </body>
</html>