<!DOCTYPE html>
<html>
    <head>
        <title>Casino</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/slot.css">
        <link rel="stylesheet" href="/stylesheets/blackjack.css">
        <link rel="stylesheet" href="/stylesheets/firstPage.css">
        <link rel="icon" href="/images/favicon.png">
    </head>
    <body>
    <div id="header">
        <div class="linkHome">
            <a href="/home">
                Casino Blabla
            </a>
        </div>
    </div>
        {{{body}}}
    </body>
</html>
