<div id="blackjackContent">
    <div id="surface">
        <div id="dealerBox">
          <div id="dealerCardBox"><img src="/images/carddeck/card_backside.jpg"></div>
          <div id="textContent">Blackjack</div>
        </div>
        <div id="playerCardBox">
          <img src="/images/carddeck/2_of_clubs.png">
          2
        </div>
    </div>
</div>
