<div id="blackjackContent">
  <div id="dealerBox">
    <div id="dealerCardBox"><img src="/images/carddeck/card_backside.jpg"></div>
    <div id="textContent">Blackjack</div>
    <div id="startGame">
      <button id="startBtn">Start Game</button>
    </div>
  </div>
  <div id="playerCardBox">
    <div id="buttons">
      <button id="hitBtn">Hit</button>
      <button id="stayBtn">Stay</button>
      <button id="doubleDownBtn">Double Down</button>
      <button id="surrenderBtn">Surrender</button>
    </div>
    <div id="playerScore">0</div>
  </div>
</div>
<script src="/javascripts/blackJack.js"></script>
