<div id="firstPageContent">
    <h2>Welcome to Casino Blabla</h2>
    <span>Enter your name and click <i>Next</i> to begin.</span>
    <br><br>
    <form action="/home" method="post">
        Name: <br>
        <input type="text" name="nameText"><br>
        <button>Next</button>
        <input type="hidden" name="csrfToken" value="{{csrfToken}}">
    </form>
</div>
