<div id="header">
    <div class="linkHome">
        <a href="/home">
            Casino Blabla
        </a>
    </div>
</div>
<div id="content">
    <div id="gamesDiv">
        <span>Games</span>
        <div id="slotDiv">
            <a href="/games/slotmachine"><img src="/images/slotmachine.png" alt="Slot Machine"> </a>
        </div>
        <div id="blackjackDiv">
            <a href="/games/blackjack"><img src="/images/blackjack.png" alt="Blackjack"> </a>
        </div>
    </div>
    <div id="userDiv">
        <span>Score</span>
    </div>
</div>