<div id="content">
    <div id="gamesDiv">
        <span>Games</span>
        <div id="slotDiv">
            <a href="/games/slotmachine"><img src="/images/slotmachine.png" alt="Slot Machine"> </a>
        </div>
        <div id="blackjackDiv">
            <a href="/games/blackjack"><img src="/images/blackjack.png" alt="Blackjack"> </a>
        </div>
    </div>
    <div id="userDiv">
        <span>Welcome to the Casino</span>
        <div id="frontImage">
            <img src="/images/frontImage.jpg" alt="Welcome to the Casino">
        </div>
        <span>Highscores </span> <p>Your score: 0</p>
        <div id="highscores">
            <table>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Score</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td></td>
                  <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
