<div id="header">
    <div class="linkHome">
        <a href="/">
            Casino Blabla
        </a>
    </div>
</div>
<div id="slotContent">
    <div id="outerMachine">
        <div id="middleMachine">
            <div class="slot"></div>
            <div class="slot"></div>
            <div class="slot"></div>
        </div>
    </div>
    <div id="lever1"></div>
    <div id="lever2"></div>
    <div id="leverBall"></div>
</div>
<script src="/javascripts/slotMachine.js"></script>