#blackjackContent {
    min-width: 1200px;
    width: 95%;
    height: 91%;
    min-height: 600px;
    margin: auto;
    position: relative;
    padding-top: 10px;
}
#surface {
    position: relative;
    background-color: darkred;
    width: 90%;
    height: 90%;
    border-radius: 100px 100px 1000px 1000px;
    margin: auto;
    border: 15px solid saddlebrown;
}

#dealerBox {
    width: 40%;
    margin: auto;
    height: 225px;
    border: whitesmoke 5px solid;
}
#textContent {
    left: 50%;
    top: 235px;
    position: absolute;
    font-size: 26px;
    transform: translate(-50%, -50%);
    color: goldenrod;
    margin: auto;
    pointer-events: none;
}
#dealerDeckBox {
  width: 181.5px;
  height: 125px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 6px groove whitesmoke;
  border-left: 2px groove whitesmoke;
  border-right: 2px groove whitesmoke;
}
#dealerDeckBox img, #playerCardBox img, #dealerCardBox img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
#dealerCardBox {
  width: 125px;
  height: 181.5px;
  position: absolute;
  border: 2px solid whitesmoke;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: -100px;
  margin-left: 9px;
}
#playerCardBox {
  width: 125px;
  height: 181.5px;
  position: absolute;
  margin:auto;
  bottom: 0;
  left: 50%;
  margin-left: -62.5px;
  margin-bottom: 10px;
  border: 2px solid whitesmoke;
  color: white;
  font-size: 20px;
  text-align: center;
}
#playerScore, #dealerScore {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#startGame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  color: whitesmoke;
}
#startGame select {
  width: 45px;
  height: 25px;
  background-color: whitesmoke;
}
#startGame p {
  font-size: 20px;
  color: whitesmoke;
}
#buttons, #aceButtons {
  width: 500px;
  height: auto;
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#aceButtons {
  top: -12px;
}
#hitBtn, #stayBtn, #doubleDownBtn, #surrenderBtn, #startBtn, #ace1Btn, #ace11Btn {
  border: none;
  width: 100px;
  height: 60px;
  padding: 1px;
  font-size: 20px;
  border: 3px groove whitesmoke;
  border-top: none;
  margin: 12px;
}
#hitBtn, #stayBtn, #doubleDownBtn, #surrenderBtn {
  float: left;
}
#hitBtn:active, #stayBtn:active, #doubleDownBtn:active, #surrenderBtn:active, #startBtn:active, #ace1Btn:active, #ace11Btn:active {
  border: 5px groove whitesmoke;
  background-color: white;
  font-size: 19px;
}
#hitBtn {
  border-left: none;
}
#stayBtn {
  border-left: none;
}
#doubleDownBtn {
  border-right: none;
}
#surrenderBtn {
  border-right: none;
}
#playerChips {
  position: absolute;
  color: whitesmoke;
  left: 140px;
  width: 150px;
  text-align: left;
  bottom: 0px;
}
