@media only screen and (max-width: 480px) {
  #frontImage, #userDiv span:nth-of-type(1), #checkoutBox, #aboutBox, #contactBox, #creditBox, footer, #coverDiv, #checkoutDiv {
    display: none;
  }
  #gamesDiv {
    width: 96%;
  }
  #userDiv {
    margin: 0;
    width: 100%;
  }
  #slotDiv, #blackjackDiv {
    margin-bottom: 1%;
  }
}
