#slotContent {
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-bottom: 5px;
    position: relative;
    background:rgba(255,255,255,0.6);
}
#scoreBoard {
    width: 90%;
    position: absolute;
    top: -41px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    background-color: #505050;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border: 1px solid black;
    border-bottom: none;
}
#scoreChips, #scoreScore, #scoreSlot {
    width: 31%;
    height: 90%;
    background-color: #151515;
    color: whitesmoke;
    text-align: center;
    margin-top: 1%;
}
#scoreChips {
    border-top-left-radius: 35px;
    margin-left: 1%;
    float: left;
    font-size: 18px;
}
#scoreSlot {
    display: inline-block;
    margin-left: 16px;
    font-size: 24px;
}
#scoreScore {
    border-top-right-radius: 35px;
    margin-right: 1%;
    float: right;
    font-size: 18px;
}
#outerMachine {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 400px;
    background-color: dimgray;
    border-radius: 10px;
    border: 1px black solid;
    pointer-events: none;
}

#middleMachine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 80%;
    background-color: #151515;
    border-radius: 3px;
}
.slot {
    float: left;
    width: 30%;
    margin-left: 2.1%;
    margin-top: 0.7%;
    height: 96%;
    border-radius: 5px;
    border: goldenrod 2px solid;
    background:rgba(230,224,223,0);
    overflow: hidden;
}
#lever1 {
    background-color: #505050;
    width: 40px;
    height: 80px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    top: 380px;
    left: 960px;
    position: absolute;
    border: 1px solid black;
}
#lever1a {
    background-color: #595959;
    width: 30px;
    height: 40px;
    border-bottom-right-radius: 8px;
    top: 398px;
    left: 1002px;
    position: absolute;
    border: 1px solid black;
}
#lever2 {
    background-color: #545454;
    width: 20px;
    height: 260px;
    left: 1008px;
    top: 140px;
    position: absolute;
    border: 1px solid black;
    border-bottom: none;
}
#leverBall {
    background-color: red;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: absolute;
    left: 978px;
    top: 100px;
    border: 1px solid black;
}
.slotIcon {
    width: 100%;
    height: 50%;
    margin-top: 80px;
}

.slotReel {
    width: 100%;
    margin-top: -160px;
    position: relative;
}
.slotReel img {
    width: 100%;
}
