html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
  overflow-y: scroll;
}
body {
    font-family: "Arial Black", Gadget, sans-serif;
    /* background pattern from subtlepatterns.com */
    background-image: url("/images/background.png");
    background-repeat: repeat;
    background-color: darkgreen;
}
#header {
    width: 100%;
    height: 60px;
    text-align: center;
    color: white;
    position: relative;
}
#header a {
    text-decoration: none;
    font-size: 44px;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    color: white;
}
#header a:visited {
    color: white;
}
#header a:hover {
    color: white;
    opacity: 1;
}
#content {
    background:rgba(255,255,255,0.6);
  width: 95%;
  max-width: 1200px;
  min-height: 91%;
    overflow-y: auto;
  margin: auto;
}
#content span {
    font-size: 24px;
}
#gamesDiv {
    width: 25%;
    margin: 1%;
    height: 96%;
    float: left;
    text-align: center;
}
#userDiv {
    width: 71%;
    margin: 1%;
    height: 96%;
    float: right;
    text-align: center;
}
#checkoutDiv {
  padding: 5px;
  color: rgb(40,40,40);
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  margin: auto;
}
#checkoutDiv:hover {
  color: whitesmoke;
}
#slotDiv, #blackjackDiv, #wheelDiv {
    width: 100%;
    background-color: seagreen;
    padding: 1%;
    border-radius: 2px;
    margin-bottom: 3%;
    float: left;
}
#blackjackDiv img {
  padding-top: 7.5%;
  padding-bottom: 2%;
}

#slotDiv:hover, #blackjackDiv:hover, #wheelDiv:hover {
    background:rgba(255,255,255,0.6);
}
#slotDiv img, #blackjackDiv img, #wheelDiv img {
    width: 100%;
    height: 100%;
}

#highscores {
  width: 100%;
  margin: auto;
}
#highscores table {
  width: 100%;
  margin: auto;
}
#highscores td, #highscores th {
  border-bottom: 1px solid black;
}
th {
  font-size: 19px;
}
td {
  font-size: 16px;
}
#frontImage {
  width: 100%;
  margin: auto;
  pointer-events: none;
}
#frontImage img {
  width: 100%;
}

footer {
  background:rgba(255,255,255,0.6);
  width: 95%;
  max-width: 1200px;
  min-height: 60px;
  overflow: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 60px;
  font-size: 18px;
}
footer a {
  display: inline;
  margin: 2%;
  color: rgb(50,50,50);
}
footer a:hover {
  color: whitesmoke;
}

#checkoutBox {
  position: absolute;
  background-color: whitesmoke;
  width: 65%;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
}
.coverDivLink {
  margin: 18px;
  color: black;
  width: 40%;
  display: inline-block;
  background-color: seagreen;
  cursor: pointer;
  padding-bottom: 2px;
}
.coverDivLink:hover {
  background-color: gray;
}
.coverDivLink a {
  color: black;
  display: block;
}
#coverDiv {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
